
<div class="main">
	<div class="playtable" >
		<table style="border-radius: 15px;">
		<tr>
			<td class="cell" id="0"></td>
			<td class="cell" id="1"></td>
			<td class="cell" id="2"></td>
		</tr>
		<tr>
			<td class="cell" id="3"></td>
			<td class="cell" id="4"></td>
			<td class="cell" id="5"></td>
		</tr>
		<tr>
			<td class="cell" id="6"></td>
			<td class="cell" id="7"></td>
			<td class="cell" id="8"></td>
		</tr>
		</table>
	<div class="endgame">
		<div class="text"></div>
	</div>
	</div>
	
	<button class="btn btn_game--restart" onClick="startGame()">Replay</button>
    <script src="/js/ticTocToe.js"></script>
</div>